server:
  port: 8080

spring:
  application:
    name: iam-system

  datasource:
    url: jdbc:postgresql://localhost:5433/iam_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # using update for dev
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true

  data:
    redis:
      host: localhost
      port: 6379

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:placeholder}
            client-secret: ${GOOGLE_CLIENT_SECRET:placeholder}
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            client-name: Google

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970 # Ensure this is replaced/env var in prod
  expiration: 86400000 # 24 hours
  refresh-token:
    expiration: 604800000 # 7 days
